<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.em">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sefety"></activity>
        <activity android:name=".collegelist" />
        <activity android:name=".versitylist" />
        <activity android:name=".schoollist" />
        <activity android:name=".studylist" />
        <activity android:name=".pollist" />
        <activity android:name=".hosplist" />
        <activity android:name=".firelist" />
        <activity android:name=".reg" />
        <activity android:name=".log" />
        <activity android:name=".MainActivity" />
        <activity android:name=".spls">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>